<h1>Editing Book</h1>
<% if @book.errors.any? %>
<%= @book.errors.count %>errors prohibited this book from being saved:
<ul>
<% @book.errors.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
<% end %>

<%= form_with model: @book do |f| %>
 <div class="container-box">
   <p class="head">Title</p>
   <%= f.text_field :title %>
  </div>
 <div class="container-box">
   <p class="head">Body</p>
   <%= f.text_area :body %>
 </div>
 <div class ="container-box">
   <%= f.submit 'Update Book' %>
 </div>
<% end %>

<%= link_to 'Show',"/books/#{@book.id}" %>
 | <%= link_to 'Back',"/books" %>
