<p class="notice"><%= notice %></p>

<p><span>Title: </span><%= @book.title %></p>
<p><span>Body: </span><%= @book.body %></p>

<%= link_to 'Edit',"/books/#{@book.id}/edit" %>
| <%= link_to 'Back',"/books" %>
